.no-project-selected-component{
    position: relative;
    flex:2;
    overflow: hidden;
    /* border: 1px solid red; */
    .element-container{
        /* border: 1px solid blue; */
        /* height: 600px; */
        /* max-width: 800px; */
        /* min-width: 200px; */
        width: fit-content;
        /* background-color: #11111175; */
        padding: 1rem 2rem;
        margin: 10% auto 0;
        border-radius: 5px;
        & h2, h3{
            text-align: center;
            font-weight: 300;
            opacity: .9;
            font-size: 2rem;
        }
        & h3{
            font-size: 1.75rem;
        }
        & h4{
            font-weight: 200;
            font-size: 1.2rem;
            text-align: center;
            margin-top: 3rem;
        }
        & button{
            margin: 5% auto 0;
            display: block;
            background-color: transparent;
            border: none;
            width: fit-content;
            padding: .8rem 1.2rem;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 200;
            border-radius: 5px;
            text-transform: capitalize;
            color: rgb(194, 164, 153);
            /* border: 1px solid red; */
            background-color: #1f1f1fbd;
            box-shadow: 2px 2px 2px #22222215;
            transition: background-color 200ms ease;

        &:active{
            background-color: #1a1919bd;
        }
        }
    }
}
